services:
  snapchain:
    image: farcasterxyz/snapchain:latest
    pull_policy: always
    #    build: # For testing
    #      context: .
    #      dockerfile: Dockerfile
    init: true # Auto-reap zombie processes and forward process signals
    environment:
      RUST_BACKTRACE: "full"
    entrypoint:
      - "/bin/bash"
      - "-c"
      - |
        #!/bin/bash
        cat > config.toml <<EOF

        rpc_address="0.0.0.0:3383"
        http_address="0.0.0.0:3381"
        rocksdb_dir=".rocks"
        fc_network="Mainnet"
        read_node = true

        [statsd]
        prefix="snapchain"
        addr="statsd:8125"
        use_tags=true

        [gossip]
        address="/ip4/0.0.0.0/udp/3382/quic-v1"
        bootstrap_peers = "/ip4/54.236.164.51/udp/3382/quic-v1, /ip4/54.87.204.167/udp/3382/quic-v1, /ip4/44.197.255.20/udp/3382/quic-v1, /ip4/54.157.62.17/udp/3382/quic-v1, /ip4/34.195.157.114/udp/3382/quic-v1, /ip4/107.20.169.236/udp/3382/quic-v1, /ip4/34.4.32.36/udp/3382/quic-v1"

        [consensus]
        shard_ids = [1,2]
        num_shards = 2
        validator_sets_file = "/app/validators-mainnet.toml"



        [snapshot]
        endpoint_url = "https://e1f9f185c6e63471dd39f96abd3413c4.r2.cloudflarestorage.com"
        load_db_from_snapshot=true
        EOF
        exec $0 $@ # Now run the original command
    command: [ "./snapchain", "--config-path", "config.toml" ]
    restart: always
    ports:
      - "3381:3381/tcp"
      - "3382:3382/udp"
      - "3383:3383/tcp"
    volumes:
      - ./validators-mainnet.toml:/app/validators-mainnet.toml:ro
      - .rocks:/app/.rocks
      - .rocks.snapshot:/app/.rocks.snapshot
    networks:
      - snapchain
    ulimits:
      nofile:
        soft: 65535
        hard: 65535

  # Start this if you want perf metrics for your hubble node. Remember to start `grafana` as well.
  statsd:
    image: graphiteapp/graphite-statsd:1.1.10-5
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "nc", "-zv", "localhost", "8126"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 1m
    ports:
      # - '80:80' # Graphite web
      # - '2003:2003' # Carbon line receiver
      # - '2004:2004' # Carbon pickle receiver
      # - '7002:7002' # Carbon cache query
      - '${STATSD_PUBLISH:-8125}:8125/udp' # StatsD
      - '${STATSD_ADMIN_PUBLISH:-8126}:8126' # StatsD admin
    networks:
      - snapchain

  # Start this if you want to see perf metrics for your hubble node. Remember to start `statsd` as well.
  grafana:
    image: grafana/grafana:10.0.3
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "localhost:3000/api/health"]
      interval: 30s
      timeout: 5s
      retries: 3
      start_period: 1m
    # Mount the grafana config file
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/data:/var/lib/grafana  # Persistent Grafana data
    ports:
      - '3000:3000' # Grafana web
    networks:
      - snapchain

networks:
  snapchain:
    driver: bridge
